.flashcards{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:20px
}
.flashcards div{
  border: 1px solid rgb(155, 110, 105);
  background-color: rgb(243, 239, 239);
  border-radius: 7px;
  aspect-ratio: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  cursor: pointer;

}
.selected{
  border: 1px solid rgb(221, 32, 11);
  background-color: brown;

}